{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<body>
<div>

	<a>Detect Lung Disease</a>

</div>
<div>

  <img src="app/forms/upload_chest.jpg" width="225" height="225">

</div>

<div>
  <p style="text-align: center;color: white;font-size: 23px;">{{ predictions }}<p>

  </div>


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

    <title>Index</title>
</head>
<body>
</body>
</html>


{% endblock %}
